In [71]:
print(""" hello world
this is a multiline string
and it is a comment""")

 hello world
this is a multiline string
and it is a comment

In [72]:
a = "hello"
print(a)

hello

In [73]:
name =input("what is your name?")
print("hello", name)

hello

In [74]:
age= int(input("how old are you?"))
print("you are", age, "years old")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
exp1= eval(input("enter any xpression"))
print(exp1)

In [ ]:
name= input("what is your name?\n")
age= int(input("how old are you?\n"))
address= input("what is your address?\n")
print(""" name: {} , age: {} , address: {}""".format(name, age, address))

In [ ]:
x= 12 
y = 13
temp = x
x = y
y = temp
print("x=", x, "y=", y)

In [ ]:
x= 20
y= 30
print("x=", x, "y=", y)
x,y=y,x
print("x=", x, "y=", y)

In [ ]:
y = 3.24
print(type(y))
y = int(y)
print(type(y))
print(y)

In [ ]:
nam = input("what is your name?\n")
mobile_number = int(input("what is your mobile number?\n"))
address = input("what is your address?\n")
grade = input("what is your grade?\n")
email = input("what is your email\n")
print("name: ", nam, "mobile number: ", mobile_number, "address: ", address, "grade: ", grade, "email: ", email)

In [ ]:
a = 12
print(type(a))
print(a)
a = float(a)
print(type(a))  
print(a)

In [ ]:
a= 7
b= 2
c=a//b
d=a%b
b = 2**123
print(c)
print(d)  
print(b)

In [ ]:
print(3>2)
print(3<2)

In [ ]:
marks = 50
print("you can go on trip") if marks<=50 else print("you cannot go on trip")

In [ ]:
a= int(input("enter a number"))
if a % 2 == 0:
    print("even")
else:
    print("odd")

In [ ]:
num = int(input("enter a number"))
if num >= 0:
    print("positive")
else:
    print("negative")

In [ ]:
print("******AREA CALCULATOR******")
print("""1. area of circle
2. area of rectangle
3. area of square
4. area of triangle""")
choice = int(input("enter your choice: "))

if choice == 1:
    radius = float(input("enter the radius of circle: "))
    area = 3.14 * radius * radius
    print("area of circle is", area)
elif choice == 2:
    length = float(input("enter the length of rectangle: "))
    breadth = float(input("enter the breadth of rectangle: "))
    area = length * breadth
    print("area of rectangle is", area)
elif choice == 3:
    side = float(input("enter the side of square: "))
    area = side * side
    print("area of square is", area)
elif choice == 4:
    base = float(input("enter the base of triangle: "))
    height = float(input("enter the height of triangle: "))
    area = 0.5 * base * height
    print("area of triangle is", area)
else:
    print("invalid choice")

In [ ]:
letter = input("enter a letter: ")
if letter in "aeiou":
    print("vowel")
else:

    print("consonant")

In [ ]:
num = int(input("enter a number upto 5 digit: "))

if num <= 0 and num >= 9:
    print("single digit") 
elif num >= 10 and num <= 99:
    print("two digit")
elif num >= 100 and num <= 999:
    print("three digit")
elif num >= 1000 and num <= 9999:
    print("four digit")
elif num >= 10000 and num <= 99999:
    print("five digit")
else:
    print("greater number  than 5 digit")

In [ ]:
n = int(input("enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

In [ ]:
n = 0
while (n < 10):
    print(n)
    n += 1

In [ ]:
num = int(input("enter a number: "))    
while num!=5 :
    print(num,num * num)
    num = int(input("enter a number: "))

In [ ]:
count = 0
while count < 5:
    print(count,count*count,count*count*count)
    count += 1

In [ ]:
s = "Mumbai"
lst = ['desert', 'dessert','to','too','lose','loose']
tpl = (10,20,30,-20,-10)
i = 0
while i < len(lst):
    print(i,s[i],lst[i],tpl[i])
    i += 1

In [ ]:
n = 1
a = int(input("enter a number: "))
while n <= 10:
    print(a, "x", n, "=", a*n)
    n += 2

In [ ]:
while True :
    num1 = int(input("enter a number :"))
    num2 = int(input("enter a number :"))

    print(num1 + num2)  
    choice = input("do you want to continue? y/n")
    if choice == "n":
        break

In [ ]:
for i in range(1 , 4) :
    for j in range(1 , 11):
        print(j, end= " ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    else :
        print(i,end=" ")
print("thank you")

In [ ]:
sum = 0
for i in range(1,51):
    if i % 2 == 0:
        sum += i

print(sum)

In [ ]:
for i in range(1,21):
    print(i,i*i)

In [ ]:
n = 0
sum =0
while n <=20 :
    if n % 2 != 0:
        sum = sum + n
   
    n = n+1
print(sum)

In [ ]:
for i in range(8,101):
    if i % n == 0 and i % 12 == 0:
        print(i)

In [40]:
while True:
    name = input("enter your name") 
    age = int(input("enter your age"))
    address = input("enter your address")   
    phone_number = int(input("enter your phone number"))
    total = 0
    while True:
        product = input("enter the product")
        
        price = int(input("enter the price"))
       
        quantity = int(input("enter the quantity"))
        
        total = total + price * quantity
        choice = input("do you want to continue? y/n")
        if choice == "n":
            break
    print("name: ", name)
    print("age: ", age)
    print("address: ", address)
    print("phone number: ", phone_number)
    print("total: ", total)
    print("produvts purchased: ", product)
    print("thank you for shopping")
    choice = input("do you want to continue? y/n")
    if choice == "n":
        break

name:  krishna
age:  21
address:  aligarh
phone number:  7017715582
total:  225
produvts purchased:  samosa
thank you for shopping

In [ ]:
a = "Why fit in, When you were born to stand out"
print(a.count("o"))
print(len(a))

x= a.lower()
t= a.upper()
y = a.capitalize()
z =a.title()
s = a.find("fit in")
print(x)
print(y)
print(z)
print(t)
print(s)

In [79]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
for i in range(1,6): #for rows
    for j in range(6,i,-1): #for columns
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [3]:
for i in range(1,6): #for rows 
    for j in range(5,i,-1):
         print(" ",end=" ") 
    for k in range(i): 
        print("*",end=" ") 
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [77]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [83]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print("*",end=" ")
    print()
for i in range(5,0,-1):
    for k in range(0,i-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,11):
    for j in range(1,i+1):
        print(i*j,end = " ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [6]:
a = "Harry Potter and the Goblet of Fire"
print(a)

Harry Potter and the Goblet of Fire

In [8]:
a = "Harry Potter and the Goblet of Fire"
print(len(a))

35

In [10]:
a = "Harry Potter and the Goblet of Fire"
print(a.count("o"))

3

In [11]:
a = "Harry Potter and the Goblet of Fire"
print(a.lower())

harry potter and the goblet of fire

In [12]:
a = "Harry Potter and the Goblet of Fire"
print(a.upper())

HARRY POTTER AND THE GOBLET OF FIRE

In [13]:
a = "harry Potter and the Goblet of Fire"
print(a.capitalize())

Harry potter and the goblet of fire

In [14]:
a = "Harry Potter and the Goblet of Fire"
print(a.index("the"))

17

In [15]:
a = "Harry Potter And The Goblet of Fire"
print(a.casefold())

harry potter and the goblet of fire

In [17]:
a = "Harry Potter and the Goblet of Fire"
print(a.find("o",15,16))

-1

In [18]:
name = "krishna"
b = "My name is {}"
print(b.format(name))

My name is krishna

In [20]:
name = "krishna"
print(name.center(20,"*"))

******krishna*******

In [5]:
a = "abc123"
print(a.isalnum())

True

In [7]:
a = "abc"
print(a.isalpha())

True

In [8]:
a = "123"
print(a.isdigit())

True

In [15]:
a = "124565"
print(a.isnumeric())

True

In [17]:
a = "AS DF"
print(a.isspace())

False

In [24]:
a = " " 
print (a.isspace())

True

In [27]:
a = "The Title of the book is Harry Potter and the Goblet of Fire"
print(a.title())

The Title Of The Book Is Harry Potter And The Goblet Of Fire

In [28]:
a= " The Title Of The Book Is Harry Potter And The Goblet Of Fire"
print(a.istitle())

True

In [34]:
a = "1234456"
print(a.isdecimal())

True

In [39]:
a= "Krishna Sharma"
print(a.endswith("a"))

True

In [40]:
a = "Krishna Sharma"
print(a.startswith("K"))

True

In [41]:
a= " krishna sharma"
print(a.swapcase())

 KRISHNA SHARMA

In [42]:
a = "  KRISHNA SHARMA"
print(a.swapcase())

  krishna sharma

In [47]:
a = "Krishna Sharma......."
print(a.strip('Sharma'))

Krishna Sharma.......

In [48]:
a = "******Krishna Sharma******"
print(a.lstrip('*'))

Krishna Sharma******

In [49]:
a = "******Krishna Sharma******"
print(a.rstrip('*'))

******Krishna Sharma

In [54]:
a= "Krishna was here"
print(a.strip('Krishna'))

 was here

In [56]:
a= " krishna*ayush*anukriti*rishika*"
print(a.split('*'))

[' krishna', 'ayush', 'anukriti', 'rishika', '']

In [4]:
x = 'Krishna Sharma'
y = x.rjust(22,'1')
print(y)

11111111Krishna Sharma

In [5]:
x = 'krishna'
print(x.replace('krishna', 'sharma'))

sharma

In [6]:
x = "krishna sharma wants to become an data analyst"
print(x.rindex("data"))

34

In [13]:
x = "returns returns and returns"
print(x.rfind("returns",7,15))

8

In [16]:
x = "krishna"
print(x[1])
print(x[-3])

r
h

In [17]:
x = "Harry potter and the goblet of fire"
y = x.split()
print(y)

['Harry', 'potter', 'and', 'the', 'goblet', 'of', 'fire']

In [23]:
x = "Harry potter and the goblet of fire"
print(x[6:10])
print(x[0:5:2])
print(x[:5])
print(x[-4:])

pott
Hry
Harry
fire

In [27]:
a= 0
b = 1
n = int(input("enter a number: "))
if n == 1:
    print(b)
else :
    print(a)
    print(b)
    for i in range(2,n):
      c= a + b
      a = b
      b = c 
      print(c)

1

In [31]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Number is not prime")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Number is not prime")
            break
    else:
        print("Number is prime")

Number is prime

In [38]:
num = int(input("Enter any number: "))
temp = num     # save the original number
rev = 0

while num > 0:
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10

print("Reversed number:", rev)

if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Reversed number: 333
Palindrome

In [1]:
print("****** AREA CALCULATOR ******")

def ask_repeat():
    repeat = input("Do you want to try again? (yes/no): ")
    return repeat.lower() == "yes"

while True:
    print("""
1. Area of Circle
2. Area of Rectangle
3. Area of Square
4. Area of Triangle
5. Exit
""")

    try:
        choice = int(input("Enter your choice (1-5): "))
    except ValueError:
        print("Please enter a valid number.")
        continue

    if choice == 5:
        print("Exiting the calculator. Goodbye!")
        break

    elif choice == 1:
        while True:
            try:
                radius = float(input("Enter the radius of the circle: "))
                area = 3.14 * radius ** 2
                print(f"Area of circle is: {area:.2f}")
            except ValueError:
                print("Please enter a valid number for radius.")
                continue
            if not ask_repeat():
                break

    elif choice == 2:
        while True:
            try:
                length = float(input("Enter the length of the rectangle: "))
                breadth = float(input("Enter the breadth of the rectangle: "))
                area = length * breadth
                print(f"Area of rectangle is: {area:.2f}")
            except ValueError:
                print("Please enter valid numbers.")
                continue
            if not ask_repeat():
                break

    elif choice == 3:
        while True:
            try:
                side = float(input("Enter the side of the square: "))
                area = side ** 2
                print(f"Area of square is: {area:.2f}")
            except ValueError:
                print("Please enter a valid number for side.")
                continue
            if not ask_repeat():
                break

    elif choice == 4:
        while True:
            try:
                base = float(input("Enter the base of the triangle: "))
                height = float(input("Enter the height of the triangle: "))
                area = 0.5 * base * height
                print(f"Area of triangle is: {area:.2f}")
            except ValueError:
                print("Please enter valid numbers.")
                continue
            if not ask_repeat():
                break

    else:
        print("Invalid choice. Please try again.")

****** AREA CALCULATOR ******

1. Area of Circle
2. Area of Rectangle
3. Area of Square
4. Area of Triangle
5. Exit

Area of square is: 121.00

1. Area of Circle
2. Area of Rectangle
3. Area of Square
4. Area of Triangle
5. Exit

Exiting the calculator. Goodbye!

In [2]:
a= "OOTD.YOLO.ASAP.BRB.GTG.OTW"
print(a.split('.'))

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [7]:
a= "krishna sharma"
b = sorted(a)
print(b)

[' ', 'a', 'a', 'a', 'h', 'h', 'i', 'k', 'm', 'n', 'r', 'r', 's', 's']

In [8]:
z = "F.R.I.E.N.D.S"
print(z.replace('.',""))

FRIENDS

In [2]:
a = "The Harry Potter series is a series of seven fantasy novels written by British author J. K. Rowling."
b = a.count('series')
print(b)

2

In [3]:
a = input("Enter a string: ")
print(a[::-1])

ayituhc

In [4]:
a = input("Enter a string: ")
print(a.isdigit())

False

In [6]:
a = input("Enter a string: ")
print(a[::-1])

if a == a[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

aaa
Palindrome

In [7]:
a = input("Enter a string: ")
vowels = 0
for i in a:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        vowels += 1
print("Number of vowels in the string:", vowels)

Number of vowels in the string: 5

In [9]:
a = "The Title Of The Book Is Harry Potter And The Goblet Of Fire"
print(a.istitle())

True

In [12]:
fruits= ["apple", "banana", "cherry", "mango"]
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [60]:
student_id = ["krishna sharma", 48,"CSBS",7.92 ]
print(student_id)
print(type(student_id))
print(student_id[0])

['krishna sharma', 48, 'CSBS', 7.92]
<class 'list'>
krishna sharma

In [ ]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
print(a[0])
print(a[1:3])
print(a[::-1]) #reverse the list
print(a[-1])
print(a[::2]) #gap deta h 2 2 elements ka

Iron Man
['Thor', 'Hulk']
['Captain America', 'Hulk', 'Thor', 'Iron Man']
Captain America
['Iron Man', 'Hulk']

In [20]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
for i in a:
    print(i)

Iron Man
Thor
Hulk
Captain America

In [21]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
for i in range(len(a)):
    print(a[i])

Iron Man
Thor
Hulk
Captain America

In [23]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
i = 0
while i < len(a):
    print(a[i])
    i=  i +1

Iron Man
Thor
Hulk
Captain America

In [24]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
[print(i) for i in a] #list comprehension

Iron Man
Thor
Hulk
Captain America

[None, None, None, None]

In [37]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
##b= a.__len__()
print(len(a)) #length of list
print(a.count("Thor")) #count of element in list
b = a.append("Black Widow") #add element in list
print(a) #append method
print(a.insert(3,"Vision"))
a[3:3] = ["Spiderman","Doctor Strange","Hulk"]
print(a)
print(a.remove("Hulk")) #remove element from list+
print(a)
print(a.pop(3)) #remove element from list by index
print(a)

4
1
['Iron Man', 'Thor', 'Hulk', 'Captain America', 'Black Widow']
None
['Iron Man', 'Thor', 'Hulk', 'Spiderman', 'Doctor Strange', 'Hulk', 'Vision', 'Captain America', 'Black Widow']
None
['Iron Man', 'Thor', 'Spiderman', 'Doctor Strange', 'Hulk', 'Vision', 'Captain America', 'Black Widow']
Doctor Strange
['Iron Man', 'Thor', 'Spiderman', 'Hulk', 'Vision', 'Captain America', 'Black Widow']

In [38]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
b = []
b = a.copy()
print(b)

['Iron Man', 'Thor', 'Hulk', 'Captain America']

In [40]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
print(a.index("Thor")) #index of element in list

1

In [41]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
c = ["Black Widow", "Vision", "Spiderman"]
a.extend(c) #extend method
print(a)

['Iron Man', 'Thor', 'Hulk', 'Captain America', 'Black Widow', 'Vision', 'Spiderman']

In [42]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
a.reverse() #reverse method
print(a)

['Captain America', 'Hulk', 'Thor', 'Iron Man']

In [43]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
a.sort()
print(a) #sort method

['Captain America', 'Hulk', 'Iron Man', 'Thor']

In [44]:
a = ["Iron Man", "Thor", "Hulk", "Captain America"]
a.clear() #clear method
print(a)

[]

In [45]:
a = ["Ross","Rachel","Monica","joe"]
a[0],a[3] = a[3],a[0] #swap method
print(a)

['joe', 'Rachel', 'Monica', 'Ross']

In [47]:
a = ["Ross","Rachel","Monica","joe"]
a.insert(2,"Chandler") #insert method
print(a)

['Ross', 'Rachel', 'Chandler', 'Monica', 'joe']

In [48]:
a = ['Ross', 'Rachel', 'Chandler', 'Monica', 'joe']
a.pop(3)
print(a)

['Ross', 'Rachel', 'Chandler', 'joe']

In [53]:
b = [13,7,12,10]
mul = 1
for i in b:
    mul *= i
print(mul)

10920

In [54]:
b = [13,7,12,10]
largest = 0
for i in b:
    if i > largest:
        largest = i 
print(largest)

13

In [56]:
b = [13,7,12,10]
smallest = b[0]
for i in b :
    if i < smallest:
        smallest = i
print(smallest)

7

In [66]:
a  = ("krishna","sharma", 48, 7.92)
print(type(a))
b = "krishna",
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [69]:
import json
student_data = {"name": "krishna", "age": 21, "grade": 7.92}
data =  json.dumps(student_data)
print(data)
print(type(data))

{"name": "krishna", "age": 21, "grade": 7.92}
<class 'str'>

In [6]:
import json

student_data = {"name": "krishna", "age": 21, "grade": 7.92}

# Convert Python dict to JSON string
data1 = json.dumps(student_data)

# Convert JSON string back to Python dict
data = json.loads(data1)

# Access a value
print(data["age"])

21

In [7]:
import json

student_data = {"name": "krishna", "age": 21, "grade": 7.92}

data = json.dumps(student_data, indent = 2, separators=(",","="))
print(data)

{
  "name"="krishna",
  "age"=21,
  "grade"=7.92
}

In [11]:
import json

student_data = {"name": "krishna", "age": 21, "grade": 7.92}

f= open("demo.json", "w")
data = json.dumps(student_data,indent = 4, sort_keys= True)
f.write(data)

59

In [1]:
import json

student_data = {"name": "krishna", "age": 21, "grade": 7.92}

data = json.dumps(student_data, indent=4, sort_keys=True)
with open("demo.json", "w") as f:
    f.write(data)

In [2]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_set= set()
print(my_set)

set()

In [5]:
my_set= set([1,21,1,414,414])
print(my_set)

{1, 21, 414}

In [9]:
my_set= set()
print(my_set)
my_set.add(55)
print(my_set)
my_set.add(58)
my_set.remove(55)
print(my_set)

set()
{55}
{58}

In [ ]:
my_set= set([1,21,1,414,414])
print(my_set)
my_set.discard(414)                                                    
print(my_set) #discard method

{1, 21, 414}
{1, 21}

In [13]:
my_set={1,2,3,4,5}
print(3 in my_set) #in operator
print(6 in my_set) #in operator
print(3 not in my_set) #not in operator
print(6 not in my_set) #not in operator

True
False
False
True

In [14]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set3 = set1.union(set2) #union method
print(set3) #union method
set3 = set1.intersection(set2) #intersection method
print(set3) #intersection method
set3 = set1.intersection_update(set2) #intersection update method
print(set3) #intersection update method

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
None

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print(set1.difference(set2))

NameError: name 's' is not defined

{1, 2, 3}

In [ ]:
print(set2.difference(set1))

{8, 9, 7}

In [5]:
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [18]:
set1 = {1,2,3,4}
set2 = {4,5,6,7}
set3 = {4,5,6,7,8}
print(type(set1))
print(set1.issubset(set2))
print(set2.issubset(set3))

<class 'set'>
False
True

In [12]:
print(set1.issuperset(set2))
print(set2.issuperset(set3))

False
False

In [16]:
text = "in this tutorial we are discusiing about words"
words  = text.split()
print(words)

#convert list of words to set to give unique words

unique_words = set(words)
print(unique_words)
sort  = sorted(unique_words)
print("sorted words", sort)
print(len(unique_words))

['in', 'this', 'tutorial', 'we', 'are', 'discusiing', 'about', 'words']
{'about', 'in', 'tutorial', 'words', 'we', 'this', 'discusiing', 'are'}
sorted words ['about', 'are', 'discusiing', 'in', 'this', 'tutorial', 'we', 'words']
8

In [21]:
my_dic = {}
print(type(my_dic))

<class 'dict'>

In [ ]:
student = {"name": "krishna sharma","age":21,"grade":7.92}
print(student)
my_data = 
print(type(student))

{'name': 'krishna sharma', 'age': 21, 'grade': 7.92}
<class 'dict'>

In [23]:
#accessing dictionaries
print(student['age'])
print(student['name'])

21
krishna sharma

In [6]:
#dictinaries can added data,update delete data
student = {"name": "krishna sharma","age":21,"grade":7.92}
print(student)
student["age"] = 33
print(student)
student["address"] = "India"
print(student)
del student['grade']
print(student)

{'name': 'krishna sharma', 'age': 21, 'grade': 7.92}
{'name': 'krishna sharma', 'age': 33, 'grade': 7.92}
{'name': 'krishna sharma', 'age': 33, 'grade': 7.92, 'address': 'India'}
{'name': 'krishna sharma', 'age': 33, 'address': 'India'}

In [8]:
keys = student.keys() #get all the keys
print(keys)
values = student.values() #get all the values
print(values)

items = student.items() #get all the items
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['krishna sharma', 33, 'India'])
dict_items([('name', 'krishna sharma'), ('age', 33), ('address', 'India')])

In [10]:
student_copy = student 
print(student_copy)
print(student)

{'name': 'krishna sharma', 'age': 33, 'address': 'India'}
{'name': 'krishna sharma', 'age': 33, 'address': 'India'}

In [11]:
student["name"] = "krishna1"
print(student)
print(student_copy)

{'name': 'krishna1', 'age': 33, 'address': 'India'}
{'name': 'krishna1', 'age': 33, 'address': 'India'}

In [12]:
student_copy1 = student.copy()
student["name"] = "krishna2"
print(student)
print(student_copy1)

{'name': 'krishna2', 'age': 33, 'address': 'India'}
{'name': 'krishna1', 'age': 33, 'address': 'India'}

In [13]:
#iterating over dictioaries 
for keys in student.keys():
    print(keys)

name
age
address

In [14]:
for values in student.values():
    print(values)

krishna2
33
India

In [16]:
for keys,values in student.items():
    print(f"{keys:} : {values}")

name : krishna2
age : 33
address : India

In [18]:
#nested dictionaries
students = {
    "student1" : {"name": "krishna sharma","age":21,},
    "student2" : {"name": "Rishika Paul", "age":20}
}

print(students)

{'student1': {'name': 'krishna sharma', 'age': 21}, 'student2': {'name': 'Rishika Paul', 'age': 20}}

In [19]:
print(students ["student2"]["name"])
print(students ["student2"]["age"])

Rishika Paul
20

In [ ]:
#iterating over nested dictionaries
for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key,value in student_info.items():
        print(f"{key} : {value}")

student1: {'name': 'krishna sharma', 'age': 21}
name : krishna sharma
age : 21
student2: {'name': 'Rishika Paul', 'age': 20}
name : Rishika Paul
age : 20

In [23]:
sq = {x : x**2 for x in range(5)}
print(sq)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
evens = {x : x**2 for x in range (10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [26]:
numbers = [1,1,1,1,2,2,2,3,3,3,3]
freq = {}
for number in numbers:
    if number in freq:
        freq[number] += 1
    else :
        freq[number]  = 1
print(freq)

{1: 4, 2: 3, 3: 4}

In [27]:
dict1 = {"a":1, "b": 2}
dict2 = {"c":3, "d":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [33]:
#The dict() Constructor
thisdict1 = dict(name = "John", age = 36, country = "Norway")
print(thisdict1)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [35]:
#Dictionary fromkeys() Method
x = ('key1', 'key2', 'key3')
y = 100

thisdict2 = dict.fromkeys(x, y)

print(thisdict2)

{'key1': 100, 'key2': 100, 'key3': 100}

In [3]:
# syntax
def function_name(parameters):
    """Docstring"""
    # function body
    return exprerssion

In [4]:
def greet(name):
    """
    This function greets the person whose name is passed as an argument.
    """
    print("Hello, " + name + "!")
help(greet)  # Display the docstring of the function
greet("Krishna")  # Call the function with an argument

Help on function greet in module __main__:

greet(name)
    This function greets the person whose name is passed as an argument.

Hello, Krishna!

In [7]:
def greet(name = "Guest"):
    print(f"Hello, {name}")

greet()  # Call the function without an argument, it will use the default value
greet("Krishna")  # Call the function with an argument, it will override the default value

Hello, Guest
Hello, Krishna

In [1]:
import pandas as pd

certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

In [ ]:
#*args
def add_numbers(*args):
    total = sum(args)
    print(f"The sum of the numbers is: {total}")

add_numbers(1, 2, 3)  # Output: The sum of the numbers is: 6
add_numbers(10, 20, 30, 40)  # Output: The sum of the numbers is: 100

The sum of the numbers is: 6
The sum of the numbers is: 100

In [4]:
# *kwargs
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="John", age=30, city="New York")  # Output: name: John, age: 30, city: New York
# **kwargs

name: John
age: 30
city: New York

In [1]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"the value of positional argument is  {val}")
    for key,value in kwargs.items():
        print(f"{key}: {value}")    

print_details(1,2,3,name="John", age=30, city="New York")  # Output: name: John, age: 30, city: New York
# **kwargs

the value of positional argument is  1
the value of positional argument is  2
the value of positional argument is  3
name: John
age: 30
city: New York

In [2]:
# return statement
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [ ]:
# lambda function
multiply = lambda a,b: a*b
type(multiply)

print(multiply(2,3)) # lambda function

function

In [3]:
even = lambda x: x%2==0
print(even(7))

False

In [5]:
import array 
arr = array.array('i',[1,2,3,4,5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [8]:
import math
print(math.sqrt(16)) # square root
print(math.pow(2,3)) # power
print(math.factorial(5)) # factorial
print(math.pi) # pi value
print(math.e) # euler number
print(math.sin(30)) # sine value
print(math.cos(30)) # cosine value
print(math.tan(30)) # tangent value
print(math.log(10)) # log value
print(math.log10(100)) # log base 10 value
print(math.log2(8)) # log base 2 value
print(math.degrees(30)) # degrees value
print(math.radians(30)) # radians value
print(math.ceil(2.3)) # ceil value
print(math.floor(2.3)) # floor value
print(math.trunc(2.3)) # trunc value

4.0
8.0
120
3.141592653589793
2.718281828459045
-0.9880316240928618
0.15425144988758405
-6.405331196646276
2.302585092994046
2.0
3.0
1718.8733853924696
0.5235987755982988
3
2
2

In [11]:
import random
print(random.randint(1,10)) # random integer between 1 and 10
print(random.choice(['rishika','bhumika']))

8
bhumika

In [13]:
import os 
print(os.getcwd()) # current working directory

c:\data analytics

In [19]:
os.mkdir("test_dir")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'test_dir'

In [17]:
import shutil
shutil.copyfile('source.txt', 'destination.txt')

'destination.txt'

In [18]:
import json
data={"name": "krishna", "age": 21, "grade": 7.92}\

json_str = json.dumps(data)
print(json_str)
print(type(json_str))
parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "krishna", "age": 21, "grade": 7.92}
<class 'str'>
{'name': 'krishna', 'age': 21, 'grade': 7.92}
<class 'dict'>

In [22]:
import csv 

# Writing to CSV
with open('example.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'Grade'])   
    writer.writerow(['krishna', 21, 7.92])
    writer.writerow(['rishika', 20, 8.0])
    writer.writerow(['bhumika', 19, 8.5])
    writer.writerow(['ayush', 22, 7.5])

# Reading from CSV
with open('example.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'Grade']
['krishna', '21', '7.92']
['rishika', '20', '8.0']
['bhumika', '19', '8.5']
['ayush', '22', '7.5']

In [26]:
from datetime import datetime, timedelta

now = datetime.now()
print("Current date and time:", now)
print("Current date:", now.date())

print("Current time:", now.time())

yesterday = now - timedelta(days=2)
print("Yesterday's date:", yesterday.date())
print("Yesterday's time:", yesterday.time())

Current date and time: 2025-04-29 02:51:34.116674
Current date: 2025-04-29
Current time: 02:51:34.116674
Yesterday's date: 2025-04-27
Yesterday's time: 02:51:34.116674

In [29]:
import time 
print(time.time()) # current time in seconds since epoch
time.sleep(5) # sleep for 5 seconds
print(time.time()) # current time in seconds since epoch

1745875639.8870878
1745875644.8883743

In [31]:
#file operation 
# read a whole file
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

hello
krishn this side

In [34]:
# read a file line by line 
with open('example.txt', 'r') as file:
    for line in file:
        print(line)
        print(line.strip()) # remove newline character

hello

hello
krishn this side

krishn this side

In [35]:
# writing file(overwriting)

with open('eaxmple.txt', 'w') as file:
    file.write("hello wrold\n")
    file.write("this is a new line")

In [41]:
# writing file(without overwriting)
with open('example.txt', 'a') as file:
    file.write("\nwriting a file without overwiting")
    file.write("a shows it's appending the file\n")

In [40]:
lines = ['first line\n', 'second line\n', 'third line\n']

with open('example.txt', 'a') as file:
    file.writelines(lines)

In [3]:
data = b'\x00\x01\x02\x03\x04\x05'
with open('example.bin', mode='wb') as file:
    file.write(data)

In [7]:
# Reading binary file
with open('example.bin', mode='rb') as file:
    content = file.read()
    print(content)

b'\x00\x01\x02\x03\x04\x05'

In [10]:
#read the content from source text file and write to a destination file
with open('example.txt', 'r') as source_file:
    content = source_file.read()

with open('destination.txt', 'w') as destination_file:
    destination_file.write(content)

In [14]:
#Reading a text file and count the no. of lines, words,char
#Counting lines, words and char in a text file

def count_text_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        lines_count = len(lines)
        words_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return lines_count,words_count,char_count

file_path = 'example.txt'
lines,words,characters = count_text_file(file_path)
print(f"Lines : {lines}, Words:{words},Characters:{characters}")

Lines : 9, Words:39,Characters:259

In [16]:
# writing and reading a file 
with open('example.txt', 'w+') as file:
    file.write("hello\n")
    file.write("new line\n")

    # move the cursor to the beginning of the file
    file.seek(0)

    #rwead the file content
    content = file.read()
    print(content)

hello
new line

In [2]:
import os
#create a new directory
new_directory = "package"
os.mkdir(new_directory)
print(f"Directory '{new_directory}' created")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'package'

In [4]:
items = os.listdir('.')
print(items)

['.git', '.vscode', 'concepts_main.ipynb', 'demo.json', 'destination.txt', 'Diwali-sales-', 'example.bin', 'example.csv', 'example.txt', 'heart.py', 'heart_disease_cleaned.csv', 'heart_disease_uci.csv', 'KIdneyDisease.py', 'kidney_disease.csv', 'kidney_disease_cleaned.csv', 'main.cpp', 'main.py', 'package', 'source.txt', 'test_dir']

In [6]:
dir_name = "folder"
file_path = "file.txt"
full_path = os.path.join(dir_name,file_path)
print(full_path)
# check if the directory exists

folder\file.txt

In [7]:
dir_name = "folder"
file_path = "file.txt"
full_path = os.path.join(os.getcwd(), dir_name,file_path)
print(full_path)

c:\data analytics\folder\file.txt

In [9]:
path = 'example.txt'
if os.path.exists(path):
    print(f"{path} exists")
else :
    print(f"the path '{path}' does not exist")

example.txt exists

In [12]:
import os 
path = 'example.txt'
if os.path.isfile(path):
    print(f"the path '{path}' is a file")
elif os.path.isdir(path) :
    print(f"the path '{path}' is a directory")
else :
    print(f"the path '{path}' is neither file or a dirctory")

the path 'example.txt' is a file

In [13]:
relative_path = 'example.txt'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

c:\data analytics\example.txt