In [71]:
print(""" hello world
this is a multiline string
and it is a comment""")

 hello world
this is a multiline string
and it is a comment

In [72]:
a = "hello"
print(a)

hello

In [73]:
name =input("what is your name?")
print("hello", name)

hello

In [74]:
age= int(input("how old are you?"))
print("you are", age, "years old")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
exp1= eval(input("enter any xpression"))
print(exp1)

In [ ]:
name= input("what is your name?\n")
age= int(input("how old are you?\n"))
address= input("what is your address?\n")
print(""" name: {} , age: {} , address: {}""".format(name, age, address))

In [ ]:
x= 12 
y = 13
temp = x
x = y
y = temp
print("x=", x, "y=", y)

In [ ]:
x= 20
y= 30
print("x=", x, "y=", y)
x,y=y,x
print("x=", x, "y=", y)

In [ ]:
y = 3.24
print(type(y))
y = int(y)
print(type(y))
print(y)

In [ ]:
nam = input("what is your name?\n")
mobile_number = int(input("what is your mobile number?\n"))
address = input("what is your address?\n")
grade = input("what is your grade?\n")
email = input("what is your email\n")
print("name: ", nam, "mobile number: ", mobile_number, "address: ", address, "grade: ", grade, "email: ", email)

In [ ]:
a = 12
print(type(a))
print(a)
a = float(a)
print(type(a))  
print(a)

In [ ]:
a= 7
b= 2
c=a//b
d=a%b
b = 2**123
print(c)
print(d)  
print(b)

In [ ]:
print(3>2)
print(3<2)

In [ ]:
marks = 50
print("you can go on trip") if marks<=50 else print("you cannot go on trip")

In [ ]:
a= int(input("enter a number"))
if a % 2 == 0:
    print("even")
else:
    print("odd")

In [ ]:
num = int(input("enter a number"))
if num >= 0:
    print("positive")
else:
    print("negative")

In [ ]:
print("******AREA CALCULATOR******")
print("""1. area of circle
2. area of rectangle
3. area of square
4. area of triangle""")
choice = int(input("enter your choice: "))

if choice == 1:
    radius = float(input("enter the radius of circle: "))
    area = 3.14 * radius * radius
    print("area of circle is", area)
elif choice == 2:
    length = float(input("enter the length of rectangle: "))
    breadth = float(input("enter the breadth of rectangle: "))
    area = length * breadth
    print("area of rectangle is", area)
elif choice == 3:
    side = float(input("enter the side of square: "))
    area = side * side
    print("area of square is", area)
elif choice == 4:
    base = float(input("enter the base of triangle: "))
    height = float(input("enter the height of triangle: "))
    area = 0.5 * base * height
    print("area of triangle is", area)
else:
    print("invalid choice")

In [ ]:
letter = input("enter a letter: ")
if letter in "aeiou":
    print("vowel")
else:

    print("consonant")

In [ ]:
num = int(input("enter a number upto 5 digit: "))

if num <= 0 and num >= 9:
    print("single digit") 
elif num >= 10 and num <= 99:
    print("two digit")
elif num >= 100 and num <= 999:
    print("three digit")
elif num >= 1000 and num <= 9999:
    print("four digit")
elif num >= 10000 and num <= 99999:
    print("five digit")
else:
    print("greater number  than 5 digit")

In [ ]:
n = int(input("enter a number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

In [ ]:
n = 0
while (n < 10):
    print(n)
    n += 1

In [ ]:
num = int(input("enter a number: "))    
while num!=5 :
    print(num,num * num)
    num = int(input("enter a number: "))

In [ ]:
count = 0
while count < 5:
    print(count,count*count,count*count*count)
    count += 1

In [ ]:
s = "Mumbai"
lst = ['desert', 'dessert','to','too','lose','loose']
tpl = (10,20,30,-20,-10)
i = 0
while i < len(lst):
    print(i,s[i],lst[i],tpl[i])
    i += 1

In [ ]:
n = 1
a = int(input("enter a number: "))
while n <= 10:
    print(a, "x", n, "=", a*n)
    n += 2

In [ ]:
while True :
    num1 = int(input("enter a number :"))
    num2 = int(input("enter a number :"))

    print(num1 + num2)  
    choice = input("do you want to continue? y/n")
    if choice == "n":
        break

In [ ]:
for i in range(1 , 4) :
    for j in range(1 , 11):
        print(j, end= " ")
    print()

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    else :
        print(i,end=" ")
print("thank you")

In [ ]:
sum = 0
for i in range(1,51):
    if i % 2 == 0:
        sum += i

print(sum)

In [ ]:
for i in range(1,21):
    print(i,i*i)

In [ ]:
n = 0
sum =0
while n <=20 :
    if n % 2 != 0:
        sum = sum + n
   
    n = n+1
print(sum)

In [ ]:
for i in range(8,101):
    if i % n == 0 and i % 12 == 0:
        print(i)

In [ ]:
while True:
    name = input("enter your name") 
    age = int(input("enter your age"))
    address = input("enter your address")   
    phone_number = int(input("enter your phone number"))
    total = 0
    while True:
        product = input("enter the product")
        
        price = int(input("enter the price"))
       
        quantity = int(input("enter the quantity"))
        
        total = total + price * quantity
        choice = input("do you want to continue? y/n")
        if choice == "n":
            break
    print("name: ", name)
    print("age: ", age)
    print("address: ", address)
    print("phone number: ", phone_number)
    print("total: ", total)
    choice = input("do you want to continue? y/n")
    if choice == "n":
        break

In [ ]:
a = "Why fit in, When you were born to stand out"
print(a.count("o"))
print(len(a))

x= a.lower()
t= a.upper()
y = a.capitalize()
z =a.title()
s = a.find("fit in")
print(x)
print(y)
print(z)
print(t)
print(s)

In [79]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
for i in range(1,6): #for rows
    for j in range(6,i,-1): #for columns
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [3]:
for i in range(1,6): #for rows 
    for j in range(5,i,-1):
         print(" ",end=" ") 
    for k in range(i): 
        print("*",end=" ") 
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [77]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [83]:
for i in range(1,6): #for rows
    for j in range(1,i+1): #for columns
        print("*",end=" ")
    print()
for i in range(5,0,-1):
    for k in range(0,i-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,11):
    for j in range(1,i+1):
        print(i*j,end = " ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [6]:
a = "Harry Potter and the Goblet of Fire"
print(a)

Harry Potter and the Goblet of Fire

In [8]:
a = "Harry Potter and the Goblet of Fire"
print(len(a))

35

In [10]:
a = "Harry Potter and the Goblet of Fire"
print(a.count("o"))

3

In [11]:
a = "Harry Potter and the Goblet of Fire"
print(a.lower())

harry potter and the goblet of fire

In [12]:
a = "Harry Potter and the Goblet of Fire"
print(a.upper())

HARRY POTTER AND THE GOBLET OF FIRE

In [13]:
a = "harry Potter and the Goblet of Fire"
print(a.capitalize())

Harry potter and the goblet of fire

In [14]:
a = "Harry Potter and the Goblet of Fire"
print(a.index("the"))

17

In [15]:
a = "Harry Potter And The Goblet of Fire"
print(a.casefold())

harry potter and the goblet of fire

In [17]:
a = "Harry Potter and the Goblet of Fire"
print(a.find("o",15,16))

-1

In [18]:
name = "krishna"
b = "My name is {}"
print(b.format(name))

My name is krishna

In [20]:
name = "krishna"
print(name.center(20,"*"))

******krishna*******